*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #9e5656;
    padding: 20px;
    gap: 20px;
}

/*
nav a{
    text-decoration: none;
    color: rgb(144, 126, 126);
    padding: 10px;
    gap: 20px;
    

}  

    
nav a:hover{
    color: rgb(255, 253, 253);
    background-color: rgb(184, 222, 255);
    border-radius: 30px;

}
*/

nav a{
    text-decoration: none;
    color: rgb(232, 255, 149);
    padding: 5px;
    position: relative;
}

nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(232, 255, 149);
    left: 0;
    bottom: 0px;
    transition: transform 0.3s;

}
nav a:hover::after{
    width: 100%;
}

.logo img{
    height: 40px;
    display: block;
    transition: transform 0.3s ease;
}

.logo:hover img{
    transform: scale(1.8);
}

.contenedor-img{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

}

.item-img img{
    width: 150px;
    display: block;
    transition: transform 0.3s ease;
}
.item-img:hover img{
    transform: translateY(-18px);
    /*transform: rotate(10deg);*/
}

.titulo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.titulo h1{
    color: hsl(0, 100%, 77%);
}

.boton{
    border-radius: 30px;
    width: 200px;
    height: 50px;
}