* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


.header{
    background-color: #ffdafe;

}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686868;
}


.logo{
    background-color: rgb(245, 40, 81);
    color:aliceblue;
    padding: 19px;
}


.menu{
    background-color: rgb(227, 237, 255);
    display: flex;
}

.menu a{
   background-color: rgb(220, 255, 151);
   margin: 7px;
    padding: 19px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

main{
    display: flex;
    gap: 10px;
}

.contenedor{
    display: flex;
    gap: 10px;
    flex: 3;
    flex-wrap: wrap; /* permitir que los elementos bajen a otra fila*/
    flex-direction: column;
    background-color: rgb(247, 253, 84);
}

.flex-top{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card{
    background-color: rgb(221, 255, 140);
    flex: 1;
    padding: 20px;
    text-align: center;
}
.sidebar{
    background-color: rgb(255, 255, 140);
    flex: 1;
    text-align: center;
    order:-1;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    background-color: rgb(247, 253, 84);
}

.box{
    background-color: rgb(207, 255, 140);
    padding: 20px;
    text-align: center;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    
    .menu {
        flex-direction: column;
       width: 100%;
    }
}